/* Archivo: style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #070707;
  color: #fff;
  min-height: 100vh;
}

.container {
  background-image: url('../imagenes/FotoPrincipal.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  color: #fff;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 28px;
  color: #d4af37;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ddd;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #d4af37;
  text-align: left;
}

select, input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #444;
  color: #fff;
}

button {
  padding: 10px 20px;
  background-color: #d4af37;
  color: #222;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #b3862d;
}

footer {
  background-color: #0a0a0a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.social-icon {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #1da1f2;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .form-row {
    flex-direction: column;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  select, input {
    font-size: 12px;
  }

  button {
    font-size: 14px;
  }
}
